/* Navbar */
.navbar {
    background-color: #2E7D32;
  }
  
  .img-fluid-logo {
    max-width: 100%;
    height: auto;
  }
  
  /* Main Image Full Width */
  .main-banner {
    margin: 0;
    padding: 0;
  }
  
  .hero-img {
    width: 100vw;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  /* About Section */
  h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 30px;
  }
  .container-2 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  .About {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .About img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .text-content {
    flex: 1;
    max-width: 500px;
  }
  
  .text-content h2 {
    margin-top: 0;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .text-content p {
    color: #555;
    line-height: 1.6;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
  }
  .button{
    background-color: #2E7D32;
    border-radius: 20px;
    color: white;
    padding: 11px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #2E7D32;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  /* product */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #fff;
  }
  
  .card {
    width: 18rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    height: 250px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    font-size: 14px;
    color: #555;
  }



  
  
  /* Responsive */
  @media (max-width: 768px) {
    .About {
      flex-direction: column;
      text-align: center;
    }
  
    .text-content {
      max-width: 100%;
    }
  }